.task {
	display: flex;
	align-items: center;
	padding: 0.3em;
	width: 100%;
	border-top: 1px solid hsl(0, 0%, 80%);
	line-height: 2em;
	cursor: pointer;
}

.task_complete {
	text-decoration: line-through;
}

.task_description {
	text-transform: capitalize;
	padding: 0 0.5em;
	flex: 1;
	word-break: break-all;
}

.task_checkbox {
	margin-right: 0.5em;
	cursor: pointer;
	border-radius: 10px;
}